# Githubsharing

## Python-100-Days

In [1]:
sum = 0
for x in range(101):
    sum += x
print(sum)

5050

## Free-python-games

In [2]:
"""Guess a number within a range.
Exercises
1. Change the range to be from 0 to 1,000,000.
2. Can you still guess the number?
3. Print the number of guesses made.
4. Limit the number of guesses to the minimum required.
"""
from random import randint
start = 1
end = 100
value = randint(start, end)
#print(value)
print("I'm thinking of a number between", start, "and", end)
guess = None
while guess != value:
    text = input("Guess the number: ")
    guess = int(text)

    if guess < value:
        print("Higher.")
    elif guess > value:
        print("Lower.")
print("Congratulations! You guessed the right answer:", value)

20
I'm thinking of a number between 1 and 100
Guess the number: 20
Congratulations! You guessed the right answer: 20

## 100-pandas-puzzles

In [4]:
import pandas as pd
import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)

### 18. Sort df first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order (so row i should be first, and row d should be last).

In [5]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

## Numpy-100

### 13. Create a 10x10 array with random values and find the minimum and maximum values (★☆☆)

In [2]:
import numpy as np
Z = np.random.random((10,10))
Zmin, Zmax = Z.min(), Z.max()
print(Z)
print(Zmin, Zmax)

[[0.35866156 0.86807234 0.21821243 0.3366488  0.73792254 0.17833255
  0.64006889 0.78736827 0.24603005 0.24884102]
 [0.32696716 0.25872456 0.73529303 0.44170038 0.0414006  0.00680145
  0.23894065 0.7494646  0.1129393  0.19768005]
 [0.16968602 0.84776487 0.03678324 0.94071522 0.17500344 0.71547197
  0.7221429  0.30785634 0.92725731 0.26198751]
 [0.8899567  0.93982078 0.21490785 0.87344745 0.67740698 0.04585366
  0.00225547 0.8753136  0.7693795  0.04142975]
 [0.62919548 0.92785504 0.43708939 0.21681964 0.1311267  0.83288113
  0.49297698 0.92558388 0.18143468 0.09331663]
 [0.91082841 0.61698058 0.7914843  0.51836398 0.38417687 0.47402364
  0.38598636 0.71832883 0.63074399 0.97094219]
 [0.60507773 0.9188126  0.08701864 0.4143762  0.65807623 0.09758873
  0.17587823 0.74005095 0.40981739 0.78860095]
 [0.5737493  0.08398226 0.10184782 0.87318236 0.8863119  0.00560674
  0.1265366  0.67296199 0.57680696 0.06429243]
 [0.95455303 0.66137765 0.66706052 0.25618705 0.20965411 0.96803437
  0.77708446 0.39660133 0.10384475 0.39268222]
 [0.8834268  0.40699464 0.11170171 0.5548922  0.35253404 0.03146473
  0.68141418 0.10286963 0.04601075 0.4819854 ]]
0.002255466516155602 0.9709421947794005

## Awesome-spider

## Learn_python3_spider

In [1]:
import requests
import re
import json
def request_dandan(url):
    try:
        response = requests.get(url)
        if response.status_code == 200:
            return response.text
    except requests.RequestException:
        return None
def parse_result(html):
    pattern = re.compile(
        '<li>.*?list_num.*?(\d+).</div>.*?<img src="(.*?)".*?class="name".*?title="(.*?)">.*?class="star">.*?class="tuijian">(.*?)</span>.*?class="publisher_info">.*?target="_blank">(.*?)</a>.*?class="biaosheng">.*?<span>(.*?)</span></div>.*?<p><span\sclass="price_n">¥(.*?)</span>.*?</li>',
        re.S)
    items = re.findall(pattern, html)
    for item in items:
        yield {
            'range': item[0],
            'iamge': item[1],
            'title': item[2],
            'recommend': item[3],
            'author': item[4],
            'times': item[5],
            'price': item[6]
        }
def write_item_to_file(item):
    print('开始写入数据 ====> ' + str(item))
    with open('book.txt', 'a', encoding='UTF-8') as f:
        f.write(json.dumps(item, ensure_ascii=False) + '\n')
def main(page):
    url = 'http://bang.dangdang.com/books/fivestars/01.00.00.00.00.00-recent30-0-0-1-' + str(page)
    html = request_dandan(url)
    items = parse_result(html)  # 解析过滤我们想要的信息
    for item in items:
        write_item_to_file(item)
if __name__ == "__main__":
    for i in range(1, 25):
        main(i)